header{
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
}
nav{
    display: flex;
    justify-content: space-between;
    
}
body a{
    text-decoration: none;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 40px; 
}
.header-text-img{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.header-text-img h1{
    font-size: 52px;
}
.header-text-img h5{
    font-size: 16px;
}
.button {
    width: 200px;
    height: 44px;
    background-color: #E02C6D;
    border-radius: 30px;
    
}
.button a{
    color: rgb(255, 255, 255);
}
.header-img{
    background-image: url(/images/Circle\ design.svg);
    background-repeat: no-repeat;
}

/* header responsive */
@media screen and (max-width:576px) {
    header{
        margin-right: 1px;
        margin-left: 1px;
    }
    nav{
        flex-direction: column;
    }
    .header-text-img{
        flex-direction: column-reverse;
        margin-top: 40px;
        text-align: center;
    }
    .header-text-img img{
        width: 100%;
    }
    .Influencerp{
        font-size: 35px;
        color: #E02C6D ;
        text-align: center;
    }
}