header{
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
}
nav{
    display: flex;
    justify-content: space-between;
    
}
body a{
    text-decoration: none;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 40px; 
}
.header-text-img{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
}
.header-text-img h1{
    font-size: 52px;
}
.header-text-img h5{
    font-size: 16px;
}
.button {
    width: 200px;
    height: 44px;
    background-color: #E02C6D;
    border-radius: 30px;
    
}
.button a{
    color: rgb(255, 255, 255);
}
.header-img{
    background-image: url(/images/Circle\ design.svg);
    background-repeat: no-repeat;
}

/* header responsive */
@media screen and (max-width:576px) {
    header{
        margin-right: 1px;
        margin-left: 1px;
        margin-bottom: 50px;
    }
    nav{
        flex-direction: column;
    }
    .header-text-img{
        flex-direction: column-reverse;
        margin-top: 40px;
        text-align: center;
    }
    .header-text-img img{
        width: 100%;
    }
    .Influencerp{
        font-size: 35px;
        color: #E02C6D ;
        text-align: center;
    }
}
/* sponsored section start */
.sponsored-container{
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
    border: 1px solid rgb(214, 214, 214);
    padding: 20px;
}
.sponsored-container img{
    width: 10%;
}
/* sponsored section responsive start */
@media screen and (max-width:576px){
    .sponsored-container{
        justify-content: space-between;
        margin-right: 1px;
        margin-left: 1px;
        margin-bottom: 50px;
        padding: 5px;
    }
}
/* Popular-Collection section start */
.Popular-Collection-container{
    margin-right: 110px;
    margin-left: 100px;
    margin-bottom: 50px;
}

.Popular-Collection-container h2{
    font-size:28px ;
}
.Popular-Collection-container h3{
    font-size:24px;
}
.Popular-Collection-container h5{
    font-size:24px;
    text-align: right;
}
.Popular-Collection-container p{
    font-size:14px ;
    
    color: #787885;
}

.Popular-Collection-img{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;

}
.Popular-Collection-img img{
    width: 100%;
}
.Popular-img{
    border: 1px solid rgb(255, 251, 251);
    padding: 10px;
    box-shadow: 10px 10px 10px 10px rgb(195, 195, 195);
    border-radius: 5px;
}
/* Popular-Collection section responsive start*/
@media screen and (max-width:576px){
    .Popular-Collection-container{
        margin-right: 1px;
        margin-left: 1px;
        margin-bottom: 50px;
    }
    .Popular-Collection-img{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }
}
/* Featured-container start */
.Featured-container{
    display: flex;
    gap: 100px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 50px;
}
.Featured-container h2{
    font-size: 38px;
}
.Featured-container img{
    width: 100%;
}
/* .Featured-text{
    display: grid;
    gap: 50px;
} */
/* Featured-container responsive */
@media screen and (max-width:576px){
    .Featured-container{
        flex-direction: column-reverse;
        gap: 30px;
        margin-right: 1px;
        margin-left: 1px;
        margin-bottom: 50px;
        text-align: center;
    }
}


/* Influencer-products */
.Influencer-products{
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
}